.deleteArticle {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);

  &__button {
    padding: var(--space-s) var(--space-m);
    background: #d9534f;
    color: white;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;

    &:hover {
      background: #c9302c;
    }
  }

  &__error {
    margin-bottom: var(--space-s);
    padding: var(--space-s);
    background: #ffe5e5;
    color: #b30000;
    border-radius: var(--radius-sm);
  }
}
